<template name="basicNotFound">
    <div id="basicNotFound">
        <div class="text-center">
            <img src="/img/logo.png" alt="Echelonic logo" />
        </div>

        <div class="text-center">
            <div class="ui large statistic">
                <div class="value">
                    404
                </div>
                <div class="label">
                    Not Found
                </div>
            </div>

            <div></div>

            <a class="ui button" href="javascript:history.back()">Go Back</a>
        </div>
    </div>
</template>