<template name="subMenuLogo">
    <div class="text-center logo subMenuLogo">
        <div class="ui button logoutButton" data-content="Sign out" data-variation="inverted">
            <i class="sign out icon"></i>
        </div>
        <img src="/img/logo.png" alt="Echelonic logo" />
        <div class="ui button homeButton" data-content="Go back to home" data-variation="inverted">
            <i class="home icon"></i>
        </div>
        <div class="ui button settingsButton" data-content="Edit your account" data-variation="inverted">
            <i class="setting icon"></i>
        </div>
    </div>
</template>