<template name="echelonEndProperty">
    <div class="echelonEndProperty">
        <div class="ui segment">
            <a class="ui green ribbon label">Informations</a>
            <br />
            This echelon represent the end of your project.
            <br />
            The end date is the end date for the whole project.
        </div>

        <div class="ui list">
            <div class="item">
                <div class="ui two column grid">
                    <div class="column">
                        <i class="history icon"></i>
                        End date:
                    </div>
                    <div class="column text-right">
                        <strong>{{realDate endAt}} ({{momentNow endAt}})</strong>
                    </div>
                </div>
            </div>
        </div>

        {{#if project.isAdmin}}
            <form class="ui form">
                <div class="field">
                    <label>End date</label>
                    <input id="datepicker" name="endAt" value="{{realDate endAt}}" />
                </div>

                <div class="text-right">
                    <button class="ui button orange" role="submit">Update</button>
                </div>
            </form>


            <!-- Modal -->
            <!-- wrong date -->
            <div id="modal-wrong-date" class="ui small modal">
                <div class="header">
                    Error
                </div>
                <div class="content">
                    <p>The date you entered is wrong.</p>
                </div>
                <div class="actions">
                    <div class="ui positive right labeled icon button">
                        OK
                        <i class="checkmark icon"></i>
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
</template>